body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100px); /* 요소를 아래로 숨김 */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* 요소를 위로 이동하여 나타냄 */
    }
}
@keyframes fadeinUp {
    0% {
        transform: translateY(100px); /* 요소를 아래로 숨김 */
    }
    100% {
        transform: translateY(0); /* 요소를 위로 이동하여 나타냄 */
    }
}
.animated {
    animation: fadeInUp 1s ease-out; /* 1초 동안 위로 나타나는 애니메이션 */
    transition: opacity 0.5s ease; /* opacity 변경 시 부드럽게 전환되도록 */
}
.custom-cursor {
    position: absolute;
    pointer-events: none;
    width: 20px;
    height: 20px;
    background-color: #ACE6AA;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease;
    z-index: 9999;
}
/* 헤더 영역 */
#topBox {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: all 0.5s;
    height: 100px;
}
#header-wrap {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.logo-home {
    padding-left: 50px;
    padding-top: 25px;
}
.logo-home > a > img {
    transition: filter 0.5s; 
}
#topBox.scrolled .logo-home > a > img {
    filter: invert(1); /* 흰색 이미지를 검정색으로 변환 */
}

/* 우측 메뉴 버튼 영역 */
.hamburgerBtn {
    margin: 0;
    z-index: 15;
    width: 50px;
    height: 70px;
}
.menuBtn {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    z-index: 17;
    cursor: pointer;
}
.menuBtn > span {
    position: absolute;
    height: 4px;
    border-radius: 4px;
    width: 100%;
    background-color: #fff;
    top: 0;
    transition: background-color 0.5s;
}
.menuBtn > span:nth-child(1) {
    top: 0;
}
.menuBtn > span:nth-child(2), 
.menuBtn > span:nth-child(3) {
    top: 12px;
}
.menuBtn > span:nth-child(4) {
    top: 24px;
}
.menuBtn.active > span:nth-child(1),
.menuBtn.active > span:nth-child(4) { 
    opacity: 0;
}
.menuBtn.active > span:nth-child(2) {
    transform: rotate(45deg);
}
.menuBtn.active > span:nth-child(3) {
    transform: rotate(-45deg);
}
#topBox.scrolled .menuBtn > span {
    background-color: #000; 
}
/* 네비게이션 */
#gnb {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    width: 640px;
    height: 100vh;
    opacity: 0;
    transition: 0.5s ease;
    z-index: 13;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.5s;
}
#topBox.scrolled #gnb {
    background-color: rgba(255, 255, 255, 0.8);
}
#gnb.visible {
    height: 100%;
    opacity: 1;
    visibility: visible;
}
.menu-box > ul {
    position: absolute;
    top: 25%;
    list-style: none;
    padding: 0;
}
.sub {
    display: none;
}
.menu-box > ul > li{
    width: 100%;
    height: 120px;
    font-size: 40px;
    font-weight: 600;
    line-height: 120px;
    text-align: center;
    cursor: pointer;
}
.menu-box > ul > li:hover a {
    color: #ACE6AA;
    text-decoration: underline;
    text-decoration-color: #ACE6AA;
    text-decoration-thickness: 3px;
}
#topBox.scrolled .menu-box > ul > li:hover a {
    color: #B5241F;
    text-decoration-color: #B5241F;
}
.menu-box a {
    font-style: normal;
    color: white;
    text-decoration: none;
    /* transition: color 0.3s; */
}
#topBox.scrolled .menu-box a {
    color: black;
}
/* 메인 배너 영역 */
#main-banner {
    width: 100%;
    height: 100vh;
    padding: 0;
    position: relative;
}
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(40%);
    position: relative;
}
.animated-title {
    /* position: absolute; */
    color: white;
    font-size: 140px;  
    font-weight: 600; 
    width: 100%;
    max-width:100%; 
    padding: 200px 0px; 
    overflow-x: hidden; 
    overflow-y: hidden; 
}
.animated-title .track {
    color: white;
    position: absolute; 
    white-space: nowrap;
    will-change: transform;
    animation: marquee 35s linear infinite; 
}
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
#contents {
    margin-top: 30px;
    margin-left: 60%;
    color: #fff;
    display: flex;
    align-items: center;
}
#contents > span {
    font-weight: 500;
    display: block;
    color: #fff;
    font-size: 40px;
}
.contents {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 43ch; /* 타이핑될 텍스트의 너비 지정 */
}
.contents::before {
    content: 'IT 비즈니스에 필요한 모든것이 (주)성산씨엔에스에 있습니다.';
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    z-index: 20;
    color: white;
    border-right: .15em solid #fff;
    animation: typing 5s steps(40, end) infinite, blink-caret .90s step-end infinite;
}
/* 타이핑 애니메이션 */
@keyframes typing {
    from { width: 0; }
    to { width: 43ch; }
}
/* 캐럿 깜박임 애니메이션 */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}
.scroll-down-arrow {
    width: 30px;
    height: auto;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
}
.fa-chevron-down {
    font-size: 30px;
    color: #fff;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(20px);
    }
    60% {
        transform: translateY(10px);
    }
}
/* 사업 소개 영역 */
#business-wrap {
    margin-top: 120px;
    width: 100%;
    height: 2000px;
}
#business-text-wrap {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
#business-text-wrap > h3{
    font-size: 40px;
    font-weight: 600;
    color: #B5241F;
}
#business-text-wrap > p {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 450;
}
#business-content-wrap {
    width: 1560px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#business-main {
    flex-flow: wrap;
    display: flex;
    justify-content: space-between;
}
#business-main > a {
    margin-bottom: 2%;
}
/* 시스템 통합 */
#si-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#si-content > p {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
}
#si-wrap {
    position: relative;
    z-index: 9;
}
#si-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    z-index: 10;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
#si-wrap:hover #si-modal {
    opacity: 1;
    visibility: visible;
}
#si-modal-text {
    margin-top: 270px;
}
.si-title {
    font-size: 30px;
    font-weight: 500;
}
.si-explain {
    padding-top: 20px;
    font-size: 20px;   
}
/* IT 컨설팅 */
#IC-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#IC-content > p {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
}
#IC-wrap {
    position: relative;
    z-index: 9;
}
#IC-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    z-index: 10;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
#IC-wrap:hover #IC-modal {
    opacity: 1;
    visibility: visible;
}
#IC-modal-text {
    margin-top: 270px;
}
.IC-title {
    font-size: 30px;
    font-weight: 500;
}
.IC-explain {
    padding-top: 20px;
    font-size: 20px;
}
/* 아웃소싱 */
#OS-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#OS-content > p {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
}
#OS-wrap {
    position: relative;
    z-index: 9;
}
#OS-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    z-index: 10;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
#OS-wrap:hover #OS-modal {
    opacity: 1;
    visibility: visible;
}
#OS-modal-text {
    margin-top: 270px;
}
.OS-title {
    font-size: 30px;
    font-weight: 500;
}
.OS-explain {
    padding-top: 20px;
    font-size: 20px;
}
/* 솔루션 */
#SL-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#SL-content > p {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
}
#SL-wrap {
    position: relative;
    z-index: 9;
}
#SL-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    z-index: 10;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
#SL-wrap:hover #SL-modal {
    opacity: 1;
    visibility: visible;
}
#SL-modal-text {
    margin-top: 270px;
}
.SL-title {
    font-size: 30px;
    font-weight: 500;
}
.SL-explain {
    padding-top: 20px;
    font-size: 20px;
}
#more-btn {
    font-size: 27px;
    text-decoration: underline;
    font-weight: 600;
    position: absolute;
    right: 200px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 30px;
}
#more-btn > a {
    color: black;
}

/* 회사 연혁 영역 */
#history-wrap {
    width: 100%;
    height: 800px;
    position: relative;
    margin-top: 100px;
}
#history-wrap > img {
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-45%);
}
#history-title-wrap {
    padding-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 150px;
}
#history-title-wrap > h2 {
    font-size: 45px;
    font-weight: 600;
    color: #B5241F;
    margin-bottom: 10px;
}
#history-title-wrap > p {
    font-size: 20px;
    font-weight: 500;
}
#history-content-wrap {
    position: relative;
    width: 100%;
    margin-top: 50px;
}
.timeline {
    position: relative;
    width: 100%;
    padding: 40px 0;
    text-align: center;
}
.line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: translateY(-50%);
}
.circle {
    position: absolute;
    top: 50%;
    width: 17px;
    height: 17px;
    background-color: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.circle .year {
    display: block;
    margin-top: 30px;
    font-weight: bold;
    font-size: 24px;
}
.circle .description {
    display: block;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    transform: translateX(-50%);
    white-space: nowrap;
}
.more-btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 7%;
    padding: 10px 30px;
    font-size: 23px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    z-index: 100;
}

/* 인재채용 영역 */
#recruit-wrap {
    width: 100%;
    height: 1300px;
    position: relative;
}
#recruit-title-wrap {
    padding-left: 10%;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 100px;
}
#recruit-title-wrap > h2 {
    font-size: 45px;
    font-weight: 600;
    color: #B5241F;
}
#recruit-title-wrap > p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 450;
}
#recruit-wrap > img {
    display: block;
    position: absolute;
    top: 15%;
    left: 20%;
    z-index: 12;
}
.bg-circle2 {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 860px;
    height: 860px;
    background-size: 100% 100%;
    border: 1px solid #dedede;
    border-radius: 50%;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bg-circle {
    width: 860px;
    height: 860px;
    opacity: 0;
}
.bg-circle circle {
    stroke-dasharray: 2696;
    stroke-dashoffset: 2696;
    transition: opacity 1s;
}
.bg-circle.animate {
    opacity: 1;
}
.bg-circle.animate circle {
    animation: drawCircle 3.5s forwards;
}
@keyframes drawCircle {
    to {
        stroke-dashoffset: 0;
        stroke: #b9b9b9;

    }
}
#recruit-content-wrap {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}
#recruit-content-wrap > div {
    width: 430px;
    height: 430px;
    border-radius: 50%;
    border: 2px solid #444;
    position: relative;
}
.recruit-txt {
    position: absolute;
    top: 50%; left: 40%;
    transform: translate(-40%, -50%);
}
.recruit-txt > h4 {
    font-size: 17px;
    line-height: 13px;
    font-weight: 600;
}
.recruit-txt > h2 {
    font-size: 30px;
    font-weight: bold;
}
.recruit-txt > p {
    font-size: 17px;
}
/* #passion {
    padding-left: 20px;
} */
.animate-circle {
    animation: circle-animation 2s ease forwards;
}

@keyframes circle-animation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* contact 영역 */
#contact-wrap {
    width: 100%;
    height: 1080px;
    position: relative;
}
#bg-logo {
    position: absolute; 
    right: -50px;
    top: -170px;
    opacity: 0.3;
}
#bg-logo > img {
    width: 530px;
    height: auto;
}
#contact-title-wrap {
    padding-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 80px;
}
#contact-title-wrap > h2 {
    font-size: 45px;
    font-weight: 600;
    color: #B5241F;
    margin-bottom: 10px;
}
#contact-title-wrap > p {
    font-size: 20px;
    font-weight: 500;
}
#contact-content-wrap {
    width: 100%;
    height: 800px;
    display: flex;
}
#contact-right,
#contact-left {
    width: 50%;
}
#contact-left {
    padding-left: 11%;
}
.contact-send {
    /* width: 80%; */
    display: flex;
    flex-wrap: wrap;
}
.col-3 > input {
    width: 600px;
}
.col-4 > input {
    width: 600px;
    height: 230px;
}
.col-1 {
    margin-right: 20px;
}
.col-1 > input, .col-2 > input{
    width: 290px;
}
.col-1, .col-2, .col-3, .col-4, .col-5 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.col-1 > input, .col-2 > input, .col-3 > input, .col-4 > input, .col-5 > input {
    border: 1px solid #000;
    border-radius: 3px;
}
.col-1 > input, .col-2 > input, .col-3 > input{
    height: 40px;
}
.col-3 > label,
.name-label {
    margin-bottom: 5px;
}
.name-label > span {
    color: #B5241F;
}
.row {
    font-size: 18px;
    font-weight: 500;
}
.col-5 > input {
    margin-top: 15px;
    width: 200px;
    height: 50px;
    background-color: #B5241F;
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    border: none;
}
.col-5 > input:hover {
    background-color: #000;
}
.info {
    width: 100%;
    padding-left: 10%;
    padding-top: 10%;
}
.info > li:nth-child(1) > h3 {
    width: 110px;
}
.info > li:nth-child(2) > h3, 
.info > li:nth-child(3) > h3 {
    width: 60px;
}
.info > li > h3 {
    font-size: 24px;
    font-weight: 600;
}
.info > li {
    font-size: 20px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 35px;
}
.icon-wrap {
    display: flex;
    align-items: center;
}
.icon-wrap > span {
    width: 35px;
}

/* footer 영역 */
#footer {
    width: 100%;
    height: 350px;
    background-color: #000;
    color: #fff;
    position: relative;
}
#footer-info-wrap {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
#footer-info-wrap dt {
    color: #b4b4b4;
}
#footer-logo {
    padding-left: 5%;
    cursor: pointer;
}
#footer-info1{
    padding-left: 5%;
    padding-top: 2.6%;
    width: 20%;
    font-size: 14px;
}
#footer-info2 {
    padding-top: 15px;
    width: 20%;
    font-size: 14px;
}
#footer-info1 > dl > dt, dd 
#footer-info2 > dl > dt, dd {
    height: 25px;
    line-height: 25px;
}
#footer-info1 > dl > dd {
    margin-bottom: 19px;
}
#footer-info2 > dl:nth-child(1) {
    margin-bottom: 26px;
}
#footer-info2 > dl:nth-child(2) {
    margin-bottom: 24px;
}
#footer-bottom {
    position: absolute;
    bottom: 0;
    margin-left: 4%;
    width: 92%;
    height: 40px;
    line-height: 40px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.6);
    text-align: center;
    color: #b4b4b4;
    font-size: 13px;
}
#privacy {
    /* width: 20%; */
    height: 100%;
    padding-left: 20%;
    display: flex;
    align-items: center;
    margin-bottom: 170px;
    z-index: 100;
    font-size: 15px;
}
#privacy > li {
    cursor: pointer;
    text-decoration: underline;
}
#privacy > li > a {
    color: #fff;
}
#privacy > li:hover a{
    color: #ACE6AA;
}
#privacy > span {
    margin-left: 10px;
    margin-right: 10px;
}